<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NLSTD</title>
  </head>
  <style></style>
  <body>
    <table border="1">
      <tr>
        <th>Error/Exception</th>
        <th>Frequency</th>
        <th>Recent Occurrence</th>
        <th>First Occurrence</th>
        <th>Server</th>
        <th>Level Value</th>
        <th>Thread ID</th>
        <th>Thread Name</th>
      </tr>
      {% for doc in docs %}
      <tr>
        <td>{{ doc.id }}</td>
        <td>{{ doc.frequency }}</td>
        <td>{{ doc.recent_occurrence }}</td>
        <td>{{ doc.first_occurrence }}</td>
        <td>{{ doc.server }}</td>
        <td>{{ doc.level_value }}</td>
        <td>{{ doc.thread_id }}</td>
        <td>{{ doc.thread_name }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
  <script></script>
</html>
